<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rio's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Rio's blog</a></h1>
    </div>

    <div>
      <p>published: 14.05.2014, 12:14</p>
      <h2><a href="">My first post</a></h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, fuga.
      </p>
    </div>

    <div>
      <h2><a href="">Lorem, ipsum dolor.</a></h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, tempore!
      </p>
    </div>
  </body>
</html>
